body{
    margin: 0px;
}
.contaner{
    position: relative;
    width: 100%;

}
.slider img{
    width: 100%;
}
.Arrow{
    position: absolute;
    cursor: pointer;
    top: 45%;
    margin: 10px;
    padding: 8px 12px;
    background-color: rgba(245, 245, 245, 0.705);
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
}
.next{
    right: 10px;
}
.pre{
    left: 10px;
}
.caption{
    position: absolute;
    bottom: 5px;
    background-color: rgba(0, 0, 0, 0.579);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    font-size: 30px;
    font-weight: bold;
}
.slide{
    display: none;
}